@import "../styles/styles.scss";

.CharacterPage {
  flex: 1;

  &-blockGroup {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 35rem;

    &-input {
      flex: 1;
      min-width: 50%;
    }
    &-percentages {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &-back {
    text-align: right;
  }
}

.Arrow {
  filter: invert(100%);
}

.DecoratedInput {
  border: 2px solid $primary;

  h2:first-of-type {
    text-transform: uppercase;
    padding: $spacing-md;
    background: $primary-darkest;
    border-bottom: 1px solid $primary;
  }
  h2 {
    font-size: $font-size-md;
    padding: $spacing-md;
    background: $almost-black;
  }
  &-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-md;
    background: $almost-black;
  }
}
