@import url("https://fonts.googleapis.com/css?family=Raleway");

/* Colors */
$primary: #7289d9;
$primary-lighter: lighten($primary, 10%);
$primary-darker: darken($primary, 10%);
$darkest-grey: #202224;
$darker-grey: #2f3136;
$dark-grey: #36393f;
$light-grey: lighten($dark-grey, 10%);
$almost-white: #eee;
$almost-black: #111;

/* Spacing */
$spacing-sm: 0.33rem;
$spacing-md: 0.66rem;
$spacing-lg: 1rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;
$letter-spacing: 0.2rem;

/* Fonts */
$font-primary: "Raleway", sans-serif;
$font-size-sm: 18px;
$font-size-md: 20px;
$font-size-lg: 28px;

/* Etc */
$header-height: 8vh;

/* Mixins */
@mixin perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin drop-shadow {
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.12);
}
