@import "../styles/styles.scss";

.CharacterStrip {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
  border: 1px solid $primary;
  background: $darkest-grey;
  transition: background 0.1s ease-in;

  &.clickable {
    &:active,
    &:hover {
      background: $dark-grey;
    }
  }
  &-top {
    display: flex;
    flex-direction: row;

    &-image {
      @include perfectly-centered();

      flex: 1;
      padding: $spacing-lg;
      border-right: 1px solid $primary;

      > * {
        flex: 1;
      }
    }
    &-details {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $spacing-md;

      &-name {
        justify-content: space-between;
        margin-bottom: $spacing-lg;
        text-transform: uppercase;
      }
      &-stats {
        display: flex;
        flex-direction: column;

        &-shouter {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          &:first-of-type {
            margin-bottom: $spacing-md;
          }
          &-stat {
            flex: 3;
            text-transform: uppercase;
          }
          &-count {
            flex: 1;
            text-align: right;
          }
        }
      }
    }
  }
  &-bottom {
    display: flex;
    border-top: 1px solid $primary;

    .Tag {
      margin-right: $spacing-sm;
    }
    &-label {
      @include perfectly-centered;

      width: 4rem;
      text-transform: uppercase;
      background: $primary-darker;
      font-weight: bolder;
    }
    &-tags {
      display: flex;
      padding: $spacing-sm;
      overflow: auto;
    }
  }
}
