@import "../styles/styles.scss";

.Checkbox {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-sm;
  cursor: pointer;

  &-square {
    width: 1rem;
    height: 1rem;
    border: 1px solid $primary;
    margin-right: $spacing-md;

    &.checked {
      background: $primary-darkest;
    }
  }
}
