@import "../styles/styles.scss";

.Footer {
  @include perfectly-centered();

  display: flex;
  align-items: center;
  padding: $spacing-xl;
  min-height: $header-height;
  background: $almost-black;
  color: $almost-white;
}
