@import "../styles/styles.scss";

.Grouping {
  margin-bottom: $spacing-md;
  background: $darker-grey;
  border: 1px solid $primary;
  transition: background 0.1s ease-in;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-md;
    font-size: $font-size-sm;
    text-transform: uppercase;
    cursor: pointer;

    &:active,
    &:hover {
      background: $dark-grey;
    }
  }
  &-content {
    padding: $spacing-md;
    background: $darkest-grey;
    border-top: 1px solid $primary;
  }
}
