@import "../styles/styles.scss";

.Header {
  display: flex;
  align-items: center;
  padding: $spacing-md;
  background: $almost-black;
  border-bottom: 1px solid $primary;
  color: $almost-white;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;

  img {
    width: 240px;
  }
}
