@import "../styles/styles.scss";

.Header {
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: $spacing-md;
  background: $almost-black;
  border-bottom: 1px solid $primary;
  color: $almost-white;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;

  &-small {
    font-size: 21px;
  }
}
