@import "../styles/styles.scss";

.Input {
  display: block;
  width: 100%;
  height: $spacing-xxl;
  padding: 0 $spacing-sm;
  background: $darker-grey;
  border: none;
  color: $almost-white;
  font-size: $font-size-lg;
}
