@import "../styles/styles.scss";

html,
body,
ul,
li,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  background: $almost-black;
}

ul {
  list-style-type: none;
}

a:link,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: $almost-white;
}

.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $darkest-grey;
  color: $almost-white;
  font-family: $font-primary;

  &-content {
    display: flex;
    min-height: 100vh;
    padding: $spacing-md;

    &-side {
      flex: 1;
      height: 100vh;
      padding: 0 $spacing-md;
      background: $darker-grey;
      overflow: auto;
    }
    &-main {
      flex: 3;
      background: $dark-grey;
    }
  }
}
