/* {
  -webkit-transform: none !important;
  transform: none !important;
} */

@media (max-width: 991px) {
  .desktop-only {
    display: none !important;
  }
  .ui.container.layout {
    width: 100% !important;
    padding-top: 0em !important;
  }
}

@media (min-width: 991px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .ui.container.layout {
    width: 100% !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}

.sc-list {
  height: 80vh !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
}


@media (max-width: 991px) {
  .sc-list {
    height: auto !important;
    overflow: none !important;
  }
}


.layout *::-webkit-scrollbar {
  width: 8px !important;
}

/* Track */
.layout *::-webkit-scrollbar-track {
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}

/* Handle */
.layout *::-webkit-scrollbar-thumb {
  opacity: 0.1 !important;
  border-radius: 10px !important;
  background: #738bd6 !important;
  -webkit-border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}

.no-margin {
  margin: 0 !important;
}

input {
  color: #eee;
}

div[role="listbox"][aria-expanded="true"] {
  background: #738bd6 !important;
  color: #eee !important;
}

div.item[role="option"] {
  letter-spacing: 0 !important;
}

div.dropdown div.menu.visible {
  width: 100% !important;
}

.attributes .four {
  padding-right: 0 !important;
}

.attributes .twelve {
  padding-left: 0 !important;
}

.attributes .active.item {
  background: #2d479c !important;
  color: #eee !important;
}

.hide-scroll {
  overflow: hidden !important;
}

.bar > .progress::after {
  content: "%";
  margin-left: 0.2rem;
}

.mobile-only.pushable {
  transform: none !important;
  -webkit-transform: none !important;
}