@media (max-width: 991px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 991px) {
  .mobile-only {
    display: none !important;
  }
}

.sc-list {
  height: 80vh !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
}
