@import "../styles/styles.scss";

html,
body,
ul,
li,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  background: $almost-black;
}

ul {
  list-style-type: none;
}

a:link,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: $almost-white;
}

.Layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 0 auto;

  @media (min-width: 800px) {
    grid-template-columns: 1.5fr 3.5fr;
  }
  &.basic {
    grid-template-columns: 0 auto;
  }

  min-height: 100vh;
  font-family: $font-primary;
  color: $almost-white;

  &-header {
    grid-area: header;
    min-height: 8vh;
    background: $almost-black;
  }
  &-sidebar {
    grid-area: sidebar;
    max-height: 100vh;
    padding: $spacing-md;
    background: $darker-grey;
    border-right: 1px solid $primary;
    overflow: auto;
  }
  &-main {
    grid-area: main;
    padding: $spacing-md;
    background: $dark-grey;
  }
  &-footer {
    grid-area: footer;
    min-height: 8vh;
    background: $almost-black;
  }
}
