@import "../styles/styles.scss";

.Master {
  &-controls {
    display: flex;
    margin: $spacing-md 0;
  }
  &-characters {
    &-noMatch {
      min-height: 5rem;
      padding: $spacing-lg;
      font-size: $font-size-md;
      text-align: center;

      > p {
        margin-bottom: $spacing-md;
      }
    }
  }
}
