@import "../styles/styles.scss";

.Master {
  position: relative;

  &-controls {
    display: flex;
    align-items: center;
    margin: $spacing-md 0;
    background: $darker-grey;
    border: 1px solid $primary;

    .Input {
      flex: 3;
    }
    .Button {
      flex: 1;
    }
  }
  &-more {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-md;
    padding: $spacing-lg;

    &-segment {
      margin-right: $spacing-xxl;

      h3 {
        text-transform: uppercase;
      }
    }
    &-reset {
      position: absolute;
      right: $spacing-md;
      bottom: $spacing-md;
      width: 5rem;
    }
  }
  &-characters {
    &-noMatch {
      min-height: 5rem;
      padding: $spacing-lg;
      font-size: $font-size-md;
      text-align: center;

      > p {
        margin-bottom: $spacing-md;
      }
    }
  }
}
