@import "../styles/styles.scss";

.Master {
  position: relative;

  &-controls {
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 10vh;
    margin: $spacing-xl 0;
  }
  &-characters {
    &-noMatch {
      min-height: 5rem;
      padding: $spacing-lg;
      font-size: $font-size-md;
      text-align: center;

      > p {
        margin-bottom: $spacing-md;
      }
    }
  }
}
