@import "../styles/styles.scss";

.Tagbar {
  display: flex;

  .Tag {
    margin-right: $spacing-sm;
  }
  &-label {
    @include perfectly-centered;

    width: 4rem;
    padding: $spacing-md;
    text-transform: uppercase;
    background: $primary-darker;
    font-weight: bolder;
  }
  &-tags {
    flex: 1;
    display: flex;
    padding: $spacing-sm;
    background: $almost-black;
    overflow: auto;
  }
}
