@import "../styles/styles.scss";

.Value {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-md;
  background: $almost-black;
  border: 2px solid $primary;

  &.vertical {
    flex-direction: column;
    align-items: initial;
    text-align: center;

    .Value-label {
      border-right: none;
      border-bottom: 1px solid $primary;
    }
    .Value-content {
      text-align: center;
    }
  }
  &-label {
    flex: 2;
    padding: $spacing-md;
    border-right: 1px solid $primary;
    background: $primary-darkest;
    text-transform: uppercase;
  }
  &-content {
    flex: 1;
    height: 100%;
    padding: $spacing-md;
    background: $darker-grey;
    text-align: right;
  }
}
